<h1>This is user <%= @id %> </h1>
<div>
<%= image_tag("id.png", size: "300x100", :alt => "user foto") %>
<div>
User Name:<%= @user.name%>
Number Of Posts: <%= @user.post_ids.count%>
</div>
<div>
<%= @user.bio%>
</div>
<% @user.recent_posts.each do |post|%>
<li>
<%= post.title%>
</li>
<div>
<%= post.text  %>
</div>
<div>
comment_counter:<%= post.author.comment_ids.count%><span>
likes_counter:<%= post.likes_counter%>
</div>

<%end%>
 <%= link_to "See all posts", user_posts_path(@user), {:class => "button-class"} %>
</div>