<h1>This is user post</h1>
Post # <%= params[:id] %>
 <h3> <%= @post.title %> by <%= @user.name %> </h3>
 <%= @post.text %>
 
 <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
    <%= form.submit "Like ", class: "post-like-btns"%>
  <% end %>

 <p>comment_counter:<%= @post.author.comment_ids.count%><span></p>
<p>Likes(s): <%= @post.likes_counter%></p>

  <% @comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
    <div>
    <%= render partial: "create_comments", local: { post: @post } %>
  </div>